<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" /> 
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Ticketing App\MainApiApp" /> 
        <add key="DJANGO_SETTINGS_MODULE" value="MainApiApp.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="ticketingapi-handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\Ticketing App\venv\Scripts\python.exe|&quot;C:\inetpub\wwwroot\Ticketing App\venv\lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
